.big {
    width: 500px;
    height: 200px;
    border: 2px solid #888;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    background: #f0f0f0;
}

.small-containers {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 колонки одинаковой ширины */
    gap: 10px; /* Расстояние между квадратами */
    justify-content: end; /* Выравнивание всех элементов вправо */
    align-content: start; /* Выравнивание всех строк сверху */
    height: 200px; /* Ограничиваем высоту для 3 строк */
}

.squares {
    width: 50px; /* Ширина квадратов */
    height: 50px; /* Высота квадратов */
    border: 2px solid #888;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: #e0e0e0;
}
.hidden {
    opacity: 0.5; /* Делает элемент полупрозрачным */
}