.board {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.big {
    width: 200px;
    height: 200px;
    border: 2px dashed #888;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    background: #f0f0f0;
}

.small-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 220px;
}


.small {
    width: 60px;           /* чуть больше */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: grab;
    user-select: none;
    font-weight: 700;
    font-size: 16px;
    background: linear-gradient(135deg, #3b82f6, #60a5fa); /* яркий синий градиент */
    color: #0f0f0f;           /* белые числа */
    border: 2px solid #1d4ed8; /* видимая рамка */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: transform 0.2s;
  }
  
  .small:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 14px rgba(0,0,0,0.4);
  }
  