body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    height: 500px;
    border: 1px solid #ccc;
    margin: 20px;
}

.square {
    width: 100px;
    height: 100px;
    margin: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}

.static {
    background-color: red;
    position: static;
}

.relative {
    background-color: blue;
    position: relative;
    top: 20px;
    left: 20px;
}

.absolute {
    background-color: green;
    position: absolute;
    top: 50px;
    left: 50px;
}

.fixed {
    background-color: purple;
    position: fixed;
    top: 10px;
    left: 10px;
}

.sticky {
    background-color: orange;
    position: sticky;
    top: 0;
}


